[Unit]
Description=Chromium Kiosk
After=graphical-session.target kiosk-server.service

[Service]
ExecStart=/usr/bin/chromium \
  --kiosk \
  --disable-infobars \
  --disable-session-crashed-bubble \
  --no-first-run \
  --disable-features=TranslateUI,TabDiscarding,PowerSaverMode \
  http://localhost:8080
Restart=always

[Install]
WantedBy=default.target
